main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
#central{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
#central h4{
    text-align: center;
    background-color: #fcd5a681;
    width: auto;
    height: 80%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
form{
    background-color: #fcd5a681;
    width: 30%;
    height: 80%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
footer{
    bottom: 0;
    left: 0;
    position: absolute;
}